<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p style="font-size: calc(100.5% + 6 * (100vw - 320px) / 600);">ツイッターアカウント稼働中！<br>メールでのお問い合わせもお気軽にどうぞ！</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <img src="/images/407-twitter.png"><br>
                <a href="https://twitter.com/some_labo?lang=ja" style="font-size: 17px;">@some_labo</a><br><br>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/images/388-mail.png"><br>
                <p><a href="mailto:your-email@your-domain.com">something.labo@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>