<header id="blur">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>about</h1>
            <hr>
            <p><b>現代サムシング研究所とは？</b></p>
        </div>
    </div>
</header>

<aside class="bg-dark" id="white">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>MISSION</h2>
            <p>ミッション</p><br>
            <h3><strong>創作活動の集合体として、<br>人、技術、心が<br>一つになる瞬間、空間を<br>作り上げる。</strong></h2>
        </div>
    </div>
</aside>

<section class="bg-primary" id="play-stone">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>音楽、ファッション、デザイン、<br>映像、写真、デジタルアート・・・<br><br>
                    創作活動には様々な<br>ジャンルがあります。<br><br>
                    それらを一つの場所に集め、<br>組み合わせることで、<br><br>
                    大きな熱量を生み出し、<br>大きな感動を呼ぶと、<br>私たちは信じています。<br><br>
                    バラバラのものを手軽に<br>「集め」、「組み合わせ」、<br>「実験する」場所を創り出すことが、<br>
                    私たちの存在意義だと考えています。
                </p>
            </div>
        </div>
    </div>
</section>


<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>How We Achieve?</h2>
        </div>
    </div>
</aside>

<section class="bg-primary" id="white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading"><strong>クラウドファンディングで<br>仲間と資金を集めて<br>作品を作り上げる。</strong></h3>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="art">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>ビジョン達成のため、<br>クラウドファンディングを活用して<br>作品作りを行います。<br><br>
                主体は支援者。<br><br>
                支援者自身が、物語のテーマを<br>設計します。<br><br>
                役者・脚本・音響・映像・デザイン<br>衣装、写真、イラストなど<br><br>
                作品作りに欠かせない様々な要素を<br>
                支援者からかき集めて統合し、<br>
                一つの作品を共に創り上げます。<br><br>
                年齢、経歴、職種、役職等<br>異なる立場を持つ支援者が、<br>
                フラットでオープンな<br>関係性で交わることで、<br>
                誰も予想できない作品を目指します。<br><br></p>
            </div>
        </div>
    </div>
</section>

<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PROJECTS</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i><img src="images/205-flag.png"></i>
                        <h3>旗揚げ公演</h3>
                        <p class="text-muted">私たちは何者で、何を考えているのか、<br>皆様に直接届けるべく、<br>リアルイベントを実施。</p><br>
                        <a href="/stage" class="btn btn-primary btn-xl">詳細ページ</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="service-box">
                        <i><img src="images/166-rocket.png"></i>
                        <h3>クラウドファンディング</h3>
                        <p class="text-muted">MISSION達成に欠かせない、<br>「人」「資金」「技術」を<br>クラウドファンディング上で集めたい。</p><br>
                        <a href="/project" class="btn btn-primary btn-xl">詳細ページ</a>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- <aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>脚本、公開中！！</h2>
            <hr>
            <p class="text-faded">創作活動の民主化への、はじめの一歩として<br>旗揚げ公演の脚本を公開しています。<br><br>皆様からご意見を募り、<br>皆様と共に改善するためです。<br><br>ぜひ、我々の脚本をご覧ください。</p>
            <a href="/reviews" class="btn btn-primary btn-xl">脚本をみる</a>
        </div>
    </div>
</aside> -->

<aside class="bg-dark" id="member">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>メンバー紹介</h2>
            <p>（画像をクリック！）</p>
        </div>
    </div>
</aside>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box" id="ono-a">
                    <img src="images/onot.jpg" class="img-responsive" alt="" id="ono">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                小野翼
                            </div>
                            <div class="project-category text-faded">
                                現代サムシング研究所所長<br><br>サムシング研究の第一人者。 
                                大相撲とチューイングガム「ガブリチュウ」が好きで知られる所長。 
                                好きな力士はもちろん稀勢の里。 
                                好きなガブリチュウはもちろんマスカット。 
                                どちらが好きかどうかがわかるのは、まだ後のことである。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box" id="otsu-a">
                    <img src="images/otsu.jpg" class="img-responsive" alt="" id="otsu">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                乙幡進悟
                            </div>
                            <div class="project-category text-faded">
                                現代サムシング研究所副所長<br>役者・庶務<br><br>言わずと知れた小野翼の右腕。
                                口を開けば、出てくる言葉は文句か批判。
                                「真顔はそこそこだが笑うと残念」という評価に、本人は「逆ではないか」と反論している。
                                好きな寿司ネタはネギトロ。
                                信じられないほど身体が硬い。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box" id="kitazoe-a">
                    <img src="images/kitazoe.jpg" class="img-responsive" alt="" id="kitazoe">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                北添真広
                            </div>
                            <div class="project-category text-faded">
                                現代サムシング研究所副所長<br>WEBエンジニア<br><br>2016年11月にRUBYを勉強し始めた、ひよっ子エンジニア。根っからのサザンオールスターズ好き。好きな楽曲は「希望の轍」。休日も色々と出歩きたい派。最近カメラを買い、各地で写真を撮るのがマイブーム。愛用機はソニーのα7。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<%= render :partial => "contact" %>