<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>about</h1>
            <hr>
            <p>現代サムシング研究所とは？</p>
        </div>
    </div>
</header>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>MISSION</h2>
            <p>ミッション</p><br>
            <h3>創作活動の集合体として、<br>人、技術、心が<br>一つになる瞬間、空間を<br>作り上げる。</h2>
        </div>
    </div>
</aside>

<section class="bg-primary" id="gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>音楽、ファッション、デザイン、<br>映像、写真、デジタルアート・・<br><br>
                    創作活動には様々な<br>ジャンルがあります。<br><br>
                    それらを一つの場所に集め、<br>組み合わせることで、<br><br>
                    大きな熱量を生み出し、<br>大きな感動を呼ぶと、<br>私たちは信じています。<br><br>
                    バラバラのものを手軽に<br>「集め」、「組み合わせ」、<br>「実験する」場所こそ、<br>
                    私たちの存在意義だと考えています。
                </p>
            </div>
        </div>
    </div>
</section>


<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>How We Achieve?</h2>
        </div>
    </div>
</aside>

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading"><strong>クラウドファンディングで<br>仲間と資金を集めて<br>作品を作り上げる。</strong></h2>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>ビジョン達成のため、<br>クラウドファンディングを活用して<br>作品作りを行います。<br><br>
                主体は支援者。<br><br>
                支援者自身が、物語のテーマを設計します。<br><br>
                役者・脚本・音響・映像・デザイン<br>衣装、写真、イラストなど<br><br>
                作品作りに欠かせない様々な要素を<br>
                支援者からかき集めて統合し、<br>
                一つの作品を共に創り上げます。<br><br>
                年齢、経歴、職種、役職等<br>異なる立場を持つ支援者が、<br>
                フラットでオープンな関係性で交わることで、<br>
                誰もが予想できない作品を目指します。<br><br></p>
            </div>
        </div>
    </div>
</section>

<!-- <aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>PROJECT</h2>
        </div>
    </div>
</aside> -->

<!--     <div class="container text-center" id="flier">
        <div class="call-to-action">
            <h2 style="color: white; margin-top: 30px;">旗揚げ公演</h2>
            <p class="text-faded">私たちは何者で、<br>何を考えているのか、<br>
                                    皆様に直接届けるべく、リアルイベントを実施。</p>
            <a href="/stage" class="btn btn-default btn-xl">詳細</a><br><br>
        </div>
    </div>

    <div class="container text-center" id="people">
        <div class="call-to-action">
            <h3 style="color: white; margin-top: 30px;">クラウド<br>ファンディング</h2>
            <p class="text-faded">MISSION達成に<br>欠かせない、<br>
                                「人」「資金」<br>「技術」をクラウドファンディング上で集めたい。</p>
            <a href="/project" class="btn btn-default btn-xl">詳細</a>
        </div>
    </div> -->

<!-- <aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>脚本、公開中！！</h2>
            <hr>
            <p class="text-faded">創作活動の民主化への、はじめの一歩として<br>旗揚げ公演の脚本を公開しています。<br><br>皆様からご意見を募り、<br>皆様と共に改善するためです。<br><br>ぜひ、我々の脚本をご覧ください。</p>
            <a href="/reviews" class="btn btn-primary btn-xl">脚本をみる</a>
        </div>
    </div>
</aside> -->

<aside class="bg-dark" id="member">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>メンバー紹介</h2>
        </div>
    </div>
</aside>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="images/otu.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                現代サムシング研究所副所長
                            </div>
                            <div class="project-name">
                                乙幡進悟
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="images/ono.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                現代サムシング研究所所長
                            </div>
                            <div class="project-name">
                                小野翼
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="images/kitazoe.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                現代サムシング研究所副所長
                            </div>
                            <div class="project-name">
                                北添真広
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<%= render :partial => "contact" %>