<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>about</h1>
            <hr>
            <p>現代サムシング研究所の概要。<br>どんな活動をしているのか。</p>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded">一言でいうと、私達は</p>
                <h2 class="section-heading">クラウドファンディング<br>劇団です。</h2>
                <hr class="light">
                <p class="text-faded">クラウドファンディングによって<br>一つの作品を作り上げ、実現する集団。<br><br>
                その主体は支援者である、<br>あなたです。<br><br>
                支援者自身が、物語のテーマを設計します。<br><br>
                役者・脚本・音響・映像・デザイン<br>衣装、写真、イラストなど<br>
                作品作りに欠かせない様々な要素も<br>
                支援者からかき集めて統合し、<br>
                一つの作品を共に創り上げます。<br><br>
                年齢、経歴、職種、役職等<br>異なる立場を持つ支援者が、<br>
                フラットでオープンな関係性で交わることで、<br>
                誰もが予想できない作品を目指します。<br><br></p>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>団体名に込められた思い</h2>
        </div>
    </div>
</aside>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">あなたには大切な<br>"何か"<br>がありますか？</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded">自信を持っていても、持っていなくても、<br>その"何か"が漠然としていたって構いません。<br><br>「まあ、なんとなく。」<br>「はい、あります。」<br>「うーん。いやあ。」<br><br>
                どうでしょう？<br><br>ひとつだけでも、たくさんあっても構いません。<br><br>
                自信を持っていても、持っていなくても、<br><br>その"何か"は あなたにとって<br>「かけがえのないもの」だと思います。
                <br><br>そんな"何か"を好きになり、"何か"に対して情熱を持ちたい人が集まれる場所。<br><br>
                みんなの"何か"を掛け合わせて、<br>無数の"何か"に対して一所懸命になれる場所。<br><br>
                <h3>それぞれの<br>"何か"<br>を大切にしたい。<br>そういう団体です。</h3></p>
                <p class="text-faded">いまのところ、劇団です。<br>私達の一番身近で大切な"何か"が<br>「演劇」だったので。</p>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>理念</h2>
            <hr>
            <p class="text-faded">「それで？」<br>「具体的には何をしているの？」<br><br>現代サムシング研究所の具体的な<br>ビジョンはこちらでご紹介しております。</p>
            <a href="/philosophy" class="btn btn-primary btn-xl">理念</a>
        </div>
    </div>
</aside>

<aside class="bg-dark" style="background-color: #f05f40;">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>プロジェクト紹介</h2>
            <hr class="light">
            <p class="text-faded">現代サムシング研究所が今取り組んでいる<br>プロジェクトをご紹介します。</p>
            <a href="/stage" class="btn btn-default btn-xl">旗揚げ公演</a><br><br>
            <a href="/project" class="btn btn-default btn-xl">クラウドファンディング</a>
        </div>
    </div>
</aside>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>メンバー紹介</h2>
        </div>
    </div>
</aside>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>所長の過去作品</h2>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p style="font-size: calc(100.5% + 6 * (100vw - 320px) / 600);">ツイッターアカウント稼働中！<br>メールでのお問い合わせもお気軽にどうぞ！</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <a href="https://twitter.com/some_labo?lang=ja" style="font-size: 17px;">@some_labo</a><br><br>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">something_labo@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>