<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>現代サムシング研究所</h1>
            <hr>
            <p class="copy">常識を覆すクラウドファンディング劇団、<br>ここに始動。</p>
            <a href="/about" class="btn btn-primary btn-xl">現代サムシング研究所とは？</a>
        </div>
    </div>
</header>

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">脚本、公開中！！</h2>
                <hr class="light">
                <p class="text-faded">旗揚げ公演の脚本を公開し、ご意見を伺っています。あなたも一緒にお芝居を作りませんか？</p><br><br>
                <a href="/reviews" class="btn btn-default btn-xl">脚本をみる</a><br><br>
                <a href="/philosophy" class="btn btn-default btn-xl">なぜ公開しているの？</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">旗揚げ公演、やります！</h2>
                <hr class="light">
                <p class="text-faded">日本一かわいい女子高生、永井理子さんご主演！<br>旗揚げ公演「超幸福学A〜超一流の幸福術〜」<br>公演情報はこちら！</p><br><br>
                <a href="/stage" class="btn btn-default btn-xl">公演の情報をみる</a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>クラウドファンディング<br>プロジェクト</h2>
            <hr class="light">
            <p class="text-faded">六本木の俳優座劇場で、<br>製作過程全オープンのお芝居をやりたい！！</p><br><br>
            <a href="/reviews" class="btn btn-default btn-xl wow tada">プロジェクト詳細</a>
        </div>
    </div>
</aside>



<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p style="font-size: calc(100.5% + 6 * (100vw - 320px) / 600);">ツイッターアカウント稼働中！<br>メールでのお問い合わせもお気軽にどうぞ！</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <a href="https://twitter.com/some_labo?lang=ja" style="font-size: 17px;">@some_labo</a><br><br>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">something_labo@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>
