<header id="energy">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>現代サムシング研究所</h1>
            <hr>
            <p class="copy">日本初！本格クラウドファンディング劇団、<br>ここに始動。</p>
            <a href="/about" class="btn btn-primary btn-xl" data-turbolinks="false">現代サムシング研究所とは？</a>
        </div>
    </div>
</header>

<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">団体紹介</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i><img src="images/032-book.png"></i>
                        <h3>歴史</h3>
                        <p class="text-muted">2016年秋始動。<br>旧名は「国立サムシング研究所」。<br>「国立」と名付けると法律的に<br>グレーなのでは？
                        と不安になり改名。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i><img src="images/171-lab.png"></i>
                        <h3>団体名の由来</h3>
                        <p class="text-muted">
                                            「個人が”何か”を持ち寄り、実験的な<br>化学反応が起こる場所でありたい」<br>という願いが込められている。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class="service-box">
                        <i><img src="images/166-rocket.png"></i>
                        <h3>クラウドファンディング</h3>
                        <p class="text-muted">クラウドファンディングで集めた、<br>「人」「資金」「技術」<br>を掛け合わせて創作活動を行う集団。</p>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="bg-primary" id="blue-green">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">第零ノ実験<br><br>
                                            帰還<br>～超一流の幸福術～<br><br>開催決定！</h2>
                <hr class="light">
                <p>女子高生ミスコン2015-2016グランプリ<br>テラスハウス出演<br>永井理子主演！</p><br><br>
                <a href="/stage" class="btn btn-default btn-xl">詳細はこちら！</a>
            </div>
        </div>
    </div>
</section>

<!-- <section class="bg-primary" id="gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">脚本、公開中！！</h2>
                <hr class="light">
                <p class="text-faded">旗揚げ公演の脚本を公開し、ご意見を伺っています。あなたも一緒にお芝居を作りませんか？</p><br><br>
                <a href="/reviews" class="btn btn-default btn-xl">脚本をみる</a><br><br>
                <a href="/philosophy" class="btn btn-default btn-xl">なぜ公開しているの？</a>
            </div>
        </div>
    </div>
</section> -->

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>クラウドファンディング<br>プロジェクト</h2>
            <hr class="light">
            <p class="text-faded">六本木の俳優座劇場で、<br>製作過程全オープンのお芝居をやりたい！！</p><br><br>
            <a href="/project" class="btn btn-default btn-xl wow tada">プロジェクト詳細</a>
        </div>
    </div>
</aside>

<%= render :partial => "contact" %>
