<header class="top-header">
    <div class="header-section-title">
        <h1 style="margin: 2em 20px 0px 0px; line-height: 7rem;">
        <a href="#concept">ABOUT</a><br>
        <a href="#experiment">EXPERIMENT</a><br>
        <a href="#crowd">CROWD FUNDING</a></h1>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
        </div>
    </div>
</header>

<div class="jumbotron" style="background-image: url(/images/main_04.png);" id="concept">
  <h1 class="section-title">ABOUT</h1>
  <h3 class="copy">現代サムシング研究所は、<br>2017年に始動した<strong>実験的創作活動集団</strong>である。</h3><br><br>
  <a href="/about"><img src="images/more_1.png" class="more"></a>
</div>

<div class="jumbotron" style="background-image: url(/images/main_06.png);" id="experiment">
  <h1 class="section-title">EXPERIMENT</h1>
  <h3 class="copy">
      <span style="font-size: 1.5rem;"><u><b>第零ノ実験</b></u></span><br><br>
      舞台<br><span style="font-size: 1.3rem;"><b>『帰還～超一流の幸福術～』</b><br></span>開催決定！<br></h3><br>
      <h3 style="line-height: 1.6em;" class="copy">主演 / <span style="font-size: 1.5rem;"><b>永井理子</b></span><br>女子高生ミスコン2015-2016グランプリ<br>テラスハウス出演
  </h3><br><br>
  <a href="/stage"><img src="images/more_1.png" class="more"></a>
</div>

<div class="jumbotron" style="background-image: url(/images/main_05.png);" id="crowd">
  <h1 class="section-title">CROWD FUNDING</h1>
  <h3 class="copy"><b>Coming Soon!!</b></h3><br><br>
  <a href="/project"><img src="images/more_1.png" class="more"></a>
</div>

<%= render :partial => "contact" %>