<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>vision</h1>
            <hr>
            <p>現代サムシング研究所の理念</p>
        </div>
    </div>
</header>

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">現代サムシング研究所が<br>実現したいこと</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">創作活動の民主化</h2>
                <hr>
                <p class="text-faded">創作活動をより手軽に、身近に。<br><br>完成品を価値とするのではなく、<br>
                体験や過程を価値として、
                さらには衝突や<br>未知の掛け算を価値とします。<br><br>
                演技。<br><br>小説。<br><br>音楽。<br><br>漫画。<br><br>イラスト。<br><br>ファッション。<br><br>写真。<br><br>お笑い。<br><br>映画。<br><br>映像。<br><br>ダンス<br><br>
                何だって構いません。<br><br>そうした才能が結集し、<br>最高の作品を作り出す集団。<br><br>才能の「新たな出会いの場」として。<br>
                才能の「新たな表現の場」として。<br><br><h3>民間のパワーで名作を<br>作り上げる団体、<br>
                「民間のピクサー社」<br>を目指します。</h3>
                </p>
            </div>
        </div>
    </div>
</section>


<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>脚本、公開中！！</h2>
            <hr>
            <p class="text-faded">創作活動の民主化への、はじめの一歩として<br>旗揚げ公演の脚本を公開しています。<br><br>皆様からご意見を募り、<br>皆様と共に改善するためです。<br><br>ぜひ、我々の脚本をご覧ください。</p>
            <a href="/reviews" class="btn btn-primary btn-xl">脚本をみる</a>
        </div>
    </div>
</aside>

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">プロジェクト紹介</h2>
                <hr class="light">
                <p class="text-faded">創作活動の民主化に向けて、<br>現代サムシング研究所が今取り組んでいること</p>
                <a href="/stage" class="btn btn-default btn-xl">旗揚げ公演</a><br><br>
                <a href="/project" class="btn btn-default btn-xl">クラウドファンディング</a>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p style="font-size: calc(100.5% + 6 * (100vw - 320px) / 600);">ツイッターアカウント稼働中！<br>メールでのお問い合わせもお気軽にどうぞ！</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <a href="https://twitter.com/some_labo?lang=ja" style="font-size: 17px;">@some_labo</a><br><br>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">something_labo@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>