<header id="audience2">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>project</h1>
            <hr>
            <p>現代サムシング研究所の<br>クラウドファンディング</p>
        </div>
    </div>
</header>

<section class="bg-primary" id="white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><strong>制作過程全オープン！<br>支援者参加型のお芝居を<br>創り上げたい！！</strong></h2>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="crowd">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">創作活動の集合体として、<br>人、技術、心が<br>一つになる瞬間、空間を<br>作り上げる。</h3>
                <hr>
                <p>このミッション達成に向けて<br>挑戦するプロジェクトです。<br><br>制作過程全オープン。<br><br>パトロンとなってくださった方は、<br>創作活動にご参加いただける<br>権利を得られます。<br><br>皆さんと作る舞台にふさわしい、<br>立派な劇場をご用意いたします。</p>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Coming Soon...</h2>
            <p class="text-faded"><br>こちらのページとツイッター公式アカウントで<br>随時情報公開していく予定です！<br>ツイッターでフォローしてみてください！</p>
            <a href="https://twitter.com/some_labo?lang=ja" style="font-size: 17px;">@some_labo</a><br><br>
        </div>
    </div>
</aside>

<%= render :partial => "contact" %>