<div class="jumbotron" id="image_container" style="margin-bottom: 0px;">
<img src="/images/be_backA.jpg">
<img src="/images/be_backB.jpg" style="float: right;">
</div>


<aside class="bg-dark" id="cast">
    <div class="container text-center">
        <div class="call-to-action">
                <!-- タイトルロゴが出来次第張り替え -->
                <h4 class="section-heading">帰還</h4>
                <p>〜超一流の幸福術〜</p><br><br>
                <h4 class=text-faded>【作・演出】</h4>
                <h4>小野翼</h4><br><br>
                <h4 class=text-faded>【出演】</h4>
                <h4 class="section-heading">永井理子</h4>
                <p class="text-faded">日本一かわいい女子高生グランプリ<br>テラスハウス出演</p><br>
                <h4 class="section-heading">和泉ひより</h4>
                <p class="text-faded">アイドル<br>「タタカッテシネ」</p><br>
                <h4 class="section-heading">田中穂先</h4>
                <p class="text-faded">柿喰う客（劇団員)<br>第9回TOHOシネマズ学生映画祭<br>SF部門グランプリ</p><br>
                <h4 class="section-heading">乙幡進悟</h4>
                <p class="text-faded">現代サムシング研究所副所長</p><br>
        </div>
    </div>
</aside>


<section class="bg-primary" id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">～ものがたり～</h2>
                <hr class="light">
                    <p>三週間行方不明となっていたアイドル「西野レイ」が帰ってくる。<br>
                    騒ぎ立てる警察、マスコミ、メンバー。<br>
                    そして微笑む謎の男。<br>
                    これは事件か失踪か誘拐か。<br>
                    騒動の中、警察は一人、<br>彼女の手に落ちた。<br><br>


                    ーーアタシ、皆のコト、好きよ。</p>
            </div>
        </div>
    </div>
</section>


<aside class="bg-dark" id="theatre">
    <div class="container text-center">
        <div class="call-to-action">
                <h2>公演期間</h2><br>
                <p>２月２5日〜２６日</p>
                <hr class="light"><br>
                <h2>公演時間</h2><br>
                <p>2/25 [土] 11:00/15:00/19:30<br>2/26 [日] 11:00/14:30/18:00</p>
                <hr class="light"><br>
                <h2 class="section-heading">荻窪小劇場</h2><br>
                <p>【住所】<br>〒167-0051 東京都杉並区荻窪３丁目3−47−18</p>
                <a href="https://www.google.co.jp/maps/place/%E8%8D%BB%E7%AA%AA%E5%B0%8F%E5%8A%87%E5%A0%B4/@35.703297,139.6247455,17z/data=!3m1!4b1!4m5!3m4!1s0x6018f20a791ddf27:0x7299287de02c49cf!8m2!3d35.7032927!4d139.6269342" class="btn btn-primary btn-xl" target="_blank">Google Mapで場所を見る</a>
                <hr class="light"><br>
                <h2>チケット料金</h2><br>
                <p>一般（当日） 4500円　一般（前売り） 4000円<br>学生　3500円</p>
        </div>
    </div>
</aside>

<%= render :partial => "contact" %>