<div style="position:relative; left:0px; top:0px; width:1280px; height:4657px;">
    <div style="background-image:url(images/stage_page_01.png); position:absolute; left:0px; top:0px; width:1280px; height:936px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_02.png); position:absolute; left:0px; top:936px; width:1280px; height:27px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_03.png); position:absolute; left:0px; top:963px; width:326px; height:902px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_04.png); position:absolute; left:326px; top:963px; width:626px; height:878px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_05.png); position:absolute; left:952px; top:963px; width:328px; height:902px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_06.png); position:absolute; left:326px; top:1841px; width:626px; height:24px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_07.png); position:absolute; left:0px; top:1865px; width:1px; height:1px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_08.png); position:absolute; left:1px; top:1865px; width:1279px; height:931px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_09.png); position:absolute; left:0px; top:1866px; width:1px; height:1858px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_10.png); position:absolute; left:1px; top:2796px; width:1279px; height:928px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_11.png); position:absolute; left:0px; top:3724px; width:1280px; height:556px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_12.png); position:absolute; left:0px; top:4280px; width:422px; height:377px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_13.png); position:absolute; left:422px; top:4280px; width:455px; height:67px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_14.png); position:absolute; left:877px; top:4280px; width:403px; height:377px;" title="">
    </div>
    <div style="background-image:url(images/stage_page_15.png); position:absolute; left:422px; top:4347px; width:455px; height:310px;" title="">
    </div>
</div>

<div class="jumbotron" style="background-image: url(/images/background_paper.jpg);">
                <h1 class="section-title">RESERVATION</h1><br>
                <a href="https://ticket.corich.jp/apply/80248/" class="btn btn-primary btn-xl" target="_blank">携帯からの予約はこちら！</a><br><br><br>
                <p>公演時間から選ぶ</p>
                <iframe src="https://ticket.corich.jp/stage/bp/timetable.php?sid=80248&ad=26%2C24%2C5%2C17&view=10&body=&color=&td_bo=&td_co=&th_bo=&th_co=&t_bo=&t_co=&link=&border=" style="width: auto; min-height: 250px; border="0"; frameborder="no";"></iframe><br />
                [PR] <a href="https://ours-sr.co.jp/station" target="_blank" style="font-size: 6px">訪問看護ステーション</a>
                <a href="http://fxsystrehikaku.com" target="_blank" style="font-size: 6px;">ミラートレーダー</a>
                <a href="http://fx.manepoke.jp" target="_blank" style="font-size: 6px;"">FX初心者</a>
                <a href="http://stage.corich.jp/bbs?category_id=6" target="_blank" style="font-size: 6px;">オーディション</a>
</div>