<div class="jumbotron" id="image_container" style="margin-bottom: 0px;">
<img src="/images/second_flier.jpg">
<img src="/images/second_flier2.jpg" style="float: right;">
</div>


<aside class="bg-dark" id="cast">
    <div class="container text-center">
        <div class="call-to-action">
                <!-- タイトルロゴが出来次第張り替え -->
                <h4 class="section-heading">帰還</h4>
                <p>〜超一流の幸福術〜</p><br><br>
                <h4 class=text-faded>【作・演出】</h4>
                <h4>小野翼</h4><br><br>
                <h4 class=text-faded>【出演】</h4>
                <h4 class="section-heading">永井理子</h4>
                <p class="text-faded">女子高生ミスコン2015-2016グランプリ<br>テラスハウス出演</p><br>
                <h4 class="section-heading">和泉ひより</h4>
                <p class="text-faded">パフォーマンスユニット<br>「タタカッテシネ」</p><br>
                <h4 class="section-heading">近藤茶</h4><br><br>
                <h4 class="section-heading">田中穂先</h4>
                <p class="text-faded">劇団柿喰う客</p><br>
                <h4 class="section-heading">島崎晋之介</h4>
                <p class="text-faded">アトリエうみ</p><br>
                <h4 class="section-heading">乙幡進悟</h4>
                <p class="text-faded">現代サムシング研究所副所長</p><br>
        </div>
    </div>
</aside>


<section class="bg-primary" id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">～ものがたり～</h2>
                <hr class="light">
                    <p>三週間行方不明となっていたアイドル「西野レイ」が帰ってくる。<br>
                    騒ぎ立てる警察、マスコミ、メンバー。<br>
                    そして微笑む謎の男。<br>
                    これは事件か失踪か誘拐か。<br>
                    騒動の中、警察は一人、<br>彼女の手に落ちた。<br><br>


                    ーーアタシ、皆のコト、好きよ。</p>
            </div>
        </div>
    </div>
</section>


<aside class="bg-dark" id="theatre">
    <div class="container text-center">
        <div class="call-to-action">
                <h2>公演期間</h2><br>
                <p>2月24日〜26日</p>
                <hr class="light"><br>
                <h2>公演時間</h2><br>
                <p>2/24 [金] 15:00/19:00<br>2/25 [土] 11:00/15:00/19:00<br>2/26 [日] 11:00/14:30/18:00</p>
                <hr class="light"><br>
                <h2 class="section-heading">荻窪小劇場</h2><br>
                <p>【住所】<br>〒167-0051 東京都杉並区荻窪3丁目3−47−18</p>
                <a href="https://www.google.co.jp/maps/place/%E8%8D%BB%E7%AA%AA%E5%B0%8F%E5%8A%87%E5%A0%B4/@35.703297,139.6247455,17z/data=!3m1!4b1!4m5!3m4!1s0x6018f20a791ddf27:0x7299287de02c49cf!8m2!3d35.7032927!4d139.6269342" class="btn btn-primary btn-xl" target="_blank">Google Mapで場所を見る</a>
                <hr class="light"><br>
                <h2>チケット料金</h2><br>
                <p>一般（当日） 4500円<br>一般（前売り） 4000円<br>学生　3500円</p>
        </div>
    </div>
</aside>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
                <h2 class="section-heading">ご予約</h2>
                <hr class="light">
                <p></p><br>
                <a href="https://ticket.corich.jp/apply/80248/" class="btn btn-primary btn-xl" target="_blank">携帯からの予約はこちら！</a><br><br><br>
                <p>公演時間から選ぶ</p>
                <iframe src="https://ticket.corich.jp/stage/bp/timetable.php?sid=80248&ad=26%2C24%2C5%2C17&view=10&body=&color=&td_bo=&td_co=&th_bo=&th_co=&t_bo=&t_co=&link=&border=" style="width: auto; min-height: 250px; border="0"; frameborder="no";"></iframe><br />
                [PR] <a href="https://ours-sr.co.jp/station" target="_blank" style="font-size: 6px">訪問看護ステーション</a>
                <a href="http://fxsystrehikaku.com" target="_blank" style="font-size: 6px;">ミラートレーダー</a>
                <a href="http://fx.manepoke.jp" target="_blank" style="font-size: 6px;"">FX初心者</a>
                <a href="http://stage.corich.jp/bbs?category_id=6" target="_blank" style="font-size: 6px;">オーディション</a>
        </div>
    </div>
</aside>

<aside class="bg-dark" id="backstage">
    <div class="container text-center">
        <div class="call-to-action">
                <h2 class="section-heading">団体について</h2>
                <hr>
                <p>「帰還」を製作する、<br>現代サムシング研究所のご紹介</p><br>
                <a href="/about" class="btn btn-primary btn-xl" data-turbolinks="false">現代サムシング研究所とは？</a>
        </div>
    </div>
</aside>


<%= render :partial => "contact" %>