<div id="main">

<div class="jumbotron" style="background-image: url(/images/stage_page_001.png); min-height: 950px;">
</div>

<div class="jumbotron" style="background-image: url(/images/stage_page_004.png); min-height: 950px;">
</div>

<div class="jumbotron" style="background-image: url(/images/stage_page_cast.png); min-height: 950px;">
</div>

<div class="jumbotron" style="background-image: url(/images/stage_page_006.png); min-height: 950px;">
</div>

<div class="jumbotron" style="background-image: url(/images/stage_page_007.png); min-height: 950px;"><br><br>
    <h1 class="section-title">TIMET<span class="title-colored">A</span>BLE</h1><br><br>
    <h2>2017/2/24[fri]〜26[sun]</h2><br><br>
    <h3 style="line-height: 2rem;">
        2/24[fri]...　　　　　15:00/19:00<br>
        2/25[sat]...&nbsp;　11:00/15:00/19:00<br>
        2/26[sun]...　11:00/14:30/18:00
    </h3>
    <br>
    <br>
    <br>
    <h1 class="section-title"><span class="title-colored">A</span>CCESS</h1><br>
    <h2>荻窪小劇場</h2><br><br>
    <a href="https://www.google.co.jp/maps/place/%E8%8D%BB%E7%AA%AA%E5%B0%8F%E5%8A%87%E5%A0%B4/@35.703297,139.6247402,17z/data=!3m1!4b1!4m5!3m4!1s0x6018f20a791ddf27:0x7299287de02c49cf!8m2!3d35.7032927!4d139.6269342"><img src="images/stage_page_009.png"></a>
</div>

<div class="jumbotron" style="background-image: url(/images/stage_page_007.png); min-height: 950px;"><br><br>
    <h1 class="section-title">T<span class="title-colored">I</span>CKET</h1><br><br>
    <h2>
        当日券　　　　　　　　...4500円<br>
        前売り券　　　　　　　...4000円<br>
        学生（当日・前売り）　...3500円
    </h2><br>
    <a href="https://ticket.corich.jp/apply/80248/" target="_blank">
        <h2 style="color: white;">ご予約はこちら</h2>
    </a><br><br>
    <h3>公演時間から選ぶ</h3>
                <iframe src="https://ticket.corich.jp/stage/bp/timetable.php?sid=80248&ad=26%2C24%2C5%2C17&view=10&body=&color=&td_bo=&td_co=&th_bo=&th_co=&t_bo=&t_co=&link=&border=" style="width: auto; min-height: 250px; border="0"; frameborder="no";"></iframe><br />
                [PR] <a href="https://ours-sr.co.jp/station" target="_blank" style="font-size: 6px">訪問看護ステーション</a>
                <a href="http://fxsystrehikaku.com" target="_blank" style="font-size: 6px;">ミラートレーダー</a>
                <a href="http://fx.manepoke.jp" target="_blank" style="font-size: 6px;"">FX初心者</a>
                <a href="http://stage.corich.jp/bbs?category_id=6" target="_blank" style="font-size: 6px;">オーディション</a>
</div>