@font-face {
  font-family: "Noto Sans Japanese";
  src: font-url("NotoSansJP-Black.otf");
  src: font-url("NotoSansJP-Bold.otf");
  src: font-url("NotoSansJP-DemiLight.otf");
  src: font-url("NotoSansJP-Light.otf");
  src: font-url("NotoSansJP-Medium.otf");
  src: font-url("NotoSansJP-Regular.otf");
  src: font-url("NotoSansJP-Thin.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura-medium-italic";
  src: font-url("ufonts.com_futura-medium-italic.ttf");
  src: font-url("ufonts.com_futura_medium_italic.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "smart-font";
  src: font-url("smart-font.otf");
  font-weight: normal;
  font-style: normal;
}

html{
  font-size: calc(112.5% + 0.25vw);
}

body{
  min-width: 1263px;
}

#main{
  position: relative;
}

header{
  .header-content{
    .header-content-inner{
      h1{
        font-size: calc(195.5% + 6 * (100vw - 320px) / 600);
      }
    }
  }
}

.top-header{
  background: url(/images/header_simple.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .header-section-title{
    float: right;
    text-align: right;
    margin-right: 1rem;
    h1{
      font-family: "Futura-medium-italic";
      font-size: 3vw;
      a{
        mix-blend-mode: overlay;
        color: white;
      }
    }
  }
}

@media(max-width:768px){
  .top-header{
    min-height: 500px;
    .header-section-title{
      margin-right: 0;
    }
  }
}

.jumbotron{
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  padding-top: 1px;

  .section-title{
    font-family: "Futura-medium-italic";
    font-size: 3rem;
    mix-blend-mode: overlay;
  }

  h1{
    font-family: "Futura-medium-italic";
    font-size: 3rem;
    mix-blend-mode: overlay;
  }

  h2{
    font-family: "Futura-medium-italic";
    font-size: 2rem;
    mix-blend-mode: overlay;
  }

  h3{
    font-family: "Futura-medium-italic";
    font-size: 1.3rem;
    mix-blend-mode: overlay;
  }

  .copy{
    font-size: 1rem;
    line-height: 2em;
  }

  .more{
    width: 5rem;
    height: auto;
  }
}

.title-colored{
  color: #DC143C;
}

.cast_photos{
  text-align: center;
}

#gray{
  background-color: gray;
}

#blue-green{
  background-color: #00CC66;
}

#white{
  background-color: white;
  color: #393939;
}

#script_container{
  min-height: 360px;
  padding-top: 50px;
  background-color: #f05f40;
}

.header-content{
  .header-content-inner{
    h1{
      font-size: calc(200.5% + 6 * (100vw - 320px) / 600);
    }
    .copy{
      font-size: calc(100.5% + 6 * (100vw - 320px) / 600);
    }
  }
}

.bg-primary{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .container{
    .row{
      .text-center{
        h2{
          font-size: calc(170.5% + 6 * (100vw - 320px) / 600);
        }
        h3{
          font-size: calc(155.5% + 6 * (100vw - 320px) / 600);
        }
        .text-faded{
          font-size: calc(90.5% + 4 * (100vw - 320px) / 400);
        }
      }
    }
  }
}

.bg-dark{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .text-center{
    .call-to-action{
      h2{
        font-size: calc(175.5% + 6 * (100vw - 320px) / 600);
      }
      h3{
        font-size: calc(155.5% + 6 * (100vw - 320px) / 600);
      }
      h4{
        font-size: calc(155.5% + 6 * (100vw - 320px) / 600);
      }
      .text-faded{
          font-size: calc(90.5% + 6 * (100vw - 320px) / 600);
        }
    }
  }
}

#intro-ono{
  width: 50%;
}

#image_container{
  padding-top: 0px;
  padding-bottom: 0px;
  img{
    width:50%;
    max-width: 100%;
    height: auto;
  }
}

#theatre{
  background-image: url(/images/seats.jpg);
}

#story{
  background-image: url(/images/hammer.jpg);
}

#abstract{
  background-image: url(/images/abstract.jpg);
}

#art{
  background-image: url(/images/art2.jpg);
}

#audience{
  background-image: url(/images/audience.jpg);
}

#audience2{
  background-image: url(/images/audience2.jpg);
}

#blur{
  background-image: url(/images/blur2.jpg);
}

#block{
  background-image: url(/images/block.jpg);
}

#bulb{
  background-image: url(/images/bulb.png);
}

#crowd{
  background-image: url(/images/crowd.jpg);
}

#energy{
  background-image: url(/images/energy.jpg);
}

#image{
  background-image: url(/images/stage.jpg);
}

#film{
  background-image: url(/images/film.jpg);
}

#flier{
  background-image: url(/images/FlierA.jpg);
}

#flier{
  background-image: url(/images/FlierA.jpg);
  width: 50%;
  min-height: 350px;
  max-height: 450px;
  float: left;
}

#glass{
  background-image: url(/images/glass.jpg);
}

#lamp{
  background-image: url(/images/lamp.jpg);
}

#legs{
  background-image: url(/images/legs.jpg);
}

#play-stone{
  background-image: url(/images/play-stone2.jpg);
}

#paper{
  background-image: url(/images/paper.jpg);
}

#light-bulb{
  background-image: url(/images/light-bulb.jpg);
}

#old-paper{
  background-image: url(/images/old-paper.jpg);
}

#people1{
  background-image: url(/images/people.jpg);
}

#people{
  background-image: url(/images/people.jpg);
  width: 50%;
  max-height: 450px;
  min-height: 350px;
  float: right;
}

#member{
  clear: both;
}

#backstage{
  background-image: url(/images/backstage.jpg);
}

#shadow{
  background-image: url(/images/shadow.jpg);
}

#staging{
  background-image: url(/images/staging.jpg);
}

#stage{
  background-image: url(/images/stage.jpg);
}

#copy{
  line-height: 2.5em;
}