@font-face {
  font-family: "Noto Sans Japanese";
  src: font-url("NotoSansJP-Black.otf");
  src: font-url("NotoSansJP-Bold.otf");
  src: font-url("NotoSansJP-DemiLight.otf");
  src: font-url("NotoSansJP-Light.otf");
  src: font-url("NotoSansJP-Medium.otf");
  src: font-url("NotoSansJP-Regular.otf");
  src: font-url("NotoSansJP-Thin.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "smart-font";
  src: font-url("smart-font.otf");
  font-weight: normal;
  font-style: normal;
}

#gray{
  background-color: gray;
}

#script_container{
  min-height: 360px;
  padding-top: 50px;
  background-color: #f05f40;
}

.header-content{
  .header-content-inner{
    h1{
      font-size: calc(200.5% + 6 * (100vw - 320px) / 600);
    }
    .copy{
      font-size: calc(100.5% + 6 * (100vw - 320px) / 600);
    }
  }
}

.bg-primary{
  .container{
    .row{
      .text-center{
        h2{
          font-size: calc(175.5% + 6 * (100vw - 320px) / 600);
        }
        .text-faded{
          font-size: calc(90.5% + 4 * (100vw - 320px) / 400);
        }
      }
    }
  }
}

.bg-dark{
  .text-center{
    .call-to-action{
      h2{
        font-size: calc(175.5% + 6 * (100vw - 320px) / 600);
      }
      h4{
        font-size: calc(155.5% + 6 * (100vw - 320px) / 600);
      }
      .text-faded{
          font-size: calc(90.5% + 6 * (100vw - 320px) / 600);
        }
    }
  }
}

#image_container{
  background-color: #f05f40;
  padding-top: 50px;
  padding-bottom: 0px;
  img{
    width:50%;
    max-width: 100%;
    height: auto;
  }
}

#theatre{
  background-image: url(/images/theatre.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#story{
  background-image: url(/images/hammer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#bow{
  background-image: url(/images/bow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#science{
  background-image: url(/images/sample5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#image{
  background-image: url(/images/stage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#flier{
  background-image: url(/images/FlierA.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#paper{
  background-image: url(/images/sample.jpg);
}

#flier{
  background-image: url(/images/FlierA.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  min-height: 350px;
  max-height: 450px;
  float: left;
}

#people1{
  background-image: url(/images/people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#people{
  background-image: url(/images/people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  max-height: 450px;
  min-height: 350px;
  float: right;
}

#member{
  clear: both;
}

#backstage{
  background-image: url(/images/backstage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
