@font-face {
  font-family: "Noto Sans Japanese";
  src: font-url("NotoSansJP-Black.otf");
  src: font-url("NotoSansJP-Bold.otf");
  src: font-url("NotoSansJP-DemiLight.otf");
  src: font-url("NotoSansJP-Light.otf");
  src: font-url("NotoSansJP-Medium.otf");
  src: font-url("NotoSansJP-Regular.otf");
  src: font-url("NotoSansJP-Thin.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "smart-font";
  src: font-url("smart-font.otf");
  font-weight: normal;
  font-style: normal;
}

header{
  .header-content{
    .header-content-inner{
      h1{
        font-size: calc(195.5% + 6 * (100vw - 320px) / 600);
      }
    }
  }
}

#gray{
  background-color: gray;
}

#white{
  background-color: white;
  color: #393939;
}

#script_container{
  min-height: 360px;
  padding-top: 50px;
  background-color: #f05f40;
}

.header-content{
  .header-content-inner{
    h1{
      font-size: calc(200.5% + 6 * (100vw - 320px) / 600);
    }
    .copy{
      font-size: calc(100.5% + 6 * (100vw - 320px) / 600);
    }
  }
}

.bg-primary{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .container{
    .row{
      .text-center{
        h2{
          font-size: calc(175.5% + 6 * (100vw - 320px) / 600);
        }
        .text-faded{
          font-size: calc(90.5% + 4 * (100vw - 320px) / 400);
        }
      }
    }
  }
}

.bg-dark{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .text-center{
    .call-to-action{
      h2{
        font-size: calc(175.5% + 6 * (100vw - 320px) / 600);
      }
      h3{
        font-size: calc(155.5% + 6 * (100vw - 320px) / 600);
      }
      h4{
        font-size: calc(155.5% + 6 * (100vw - 320px) / 600);
      }
      .text-faded{
          font-size: calc(90.5% + 6 * (100vw - 320px) / 600);
        }
    }
  }
}

#image_container{
  background-color: #f05f40;
  padding-top: 50px;
  padding-bottom: 0px;
  img{
    width:50%;
    max-width: 100%;
    height: auto;
  }
}

#theatre{
  background-image: url(/images/theatre.jpg);
}

#story{
  background-image: url(/images/hammer.jpg);
}

#abstract{
  background-image: url(/images/abstract.jpg);
}

#art{
  background-image: url(/images/art.jpg);
}

#audience{
  background-image: url(/images/audience.jpg);
}

#blur{
  background-image: url(/images/blur.jpg);
}

#block{
  background-image: url(/images/block.jpg);
}

#bulb{
  background-image: url(/images/bulb.png);
}

#image{
  background-image: url(/images/stage.jpg);
}

#film{
  background-image: url(/images/film.jpg);
}

#flier{
  background-image: url(/images/FlierA.jpg);
}

#flier{
  background-image: url(/images/FlierA.jpg);
  width: 50%;
  min-height: 350px;
  max-height: 450px;
  float: left;
}

#glass{
  background-image: url(/images/glass.jpg);
}

#lamp{
  background-image: url(/images/lamp.jpg);
}

#play-stone{
  background-image: url(/images/play-stone.jpg);
}

#paper{
  background-image: url(/images/paper.jpg);
}

#science{
  background-image: url(/images/sample5.jpg);
}

#light-bulb{
  background-image: url(/images/light-bulb.jpg);
}

#old-paper{
  background-image: url(/images/old-paper.jpg);
}

#people1{
  background-image: url(/images/people.jpg);
}

#people{
  background-image: url(/images/people.jpg);
  width: 50%;
  max-height: 450px;
  min-height: 350px;
  float: right;
}

#member{
  clear: both;
}

#backstage{
  background-image: url(/images/backstage.jpg);
}

#staging{
  background-image: url(/images/staging.jpg);
}
