
#gray{
  background-color: gray;
}

#script_container{
  min-height: 360px;
  padding-top: 50px;
  background-color: #f05f40;
}

.header-content{
  .header-content-inner{
    h1{
      font-size: calc(200.5% + 6 * (100vw - 320px) / 600);
    }
    .copy{
      font-size: calc(100.5% + 6 * (100vw - 320px) / 600);
    }
  }
}

.bg-primary{
  .container{
    .row{
      .text-center{
        h2{
          font-size: calc(175.5% + 6 * (100vw - 320px) / 600);
        }
        .text-faded{
          font-size: calc(90.5% + 4 * (100vw - 320px) / 400);
        }
      }
    }
  }
}

.bg-dark{
  .text-center{
    .call-to-action{
      h2{
        font-size: calc(175.5% + 6 * (100vw - 320px) / 600);
      }
      h4{
        font-size: calc(155.5% + 6 * (100vw - 320px) / 600);
      }
      .text-faded{
          font-size: calc(90.5% + 6 * (100vw - 320px) / 600);
        }
    }
  }
}

#image_container{
  background-color: #f05f40;
  padding-top: 50px;
  padding-bottom: 0px;
  img{
    width:50%;
    max-width: 100%;
    height: auto;
  }
}

#theatre{
  background-image: url(/images/stage4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#story{
  background-image: url(/images/6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#bow{
  background-image: url(/images/bow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#sample{
  background-image: url(/images/stage.jpg);
}


#image{
  background-image: url(/images/stage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#flier{
  background-image: url(/images/flierA.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
