<!DOCTYPE html>
<html>
<head>
  <title>現代サムシング研究所</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta  name="viewport" content="width=device-width, user-scalable=yes, width=860">
</head>
<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">現代サムシング研究所</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/about" data-turbolinks="false">現代サムシング研究所とは</a>
                </li>
                <li>
                    <a class="page-scroll" href="/stage">公演情報</a>
                </li>
                <li>
                    <a class="page-scroll" href="/project">クラウドファンディング</a>
                </li>
                <!-- <li>
                    <a class="page-scroll" href="/reviews">２月公演の脚本をみる</a>
                </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<%= yield %>

<footer style="width: 100%; height: 70px; margin-bottom: 0px; background-color: #5E6060;">
    <p style="color: white; top: 0; bottom: 0; margin: auto; font-family: "Hiragino Kaku Gothic Pro";>Copyright(C) 2016 Laboratory of modern something. All Rights Reserved.</p>
</footer>
</body>
</html>
